@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');


* {
  list-style: none !important;
  text-decoration: none !important;
}

.container {
  min-width: 1440px !important;
}
.m-0{margin: 0 !important;}
.p-l {
  padding-left: 151px;
}
.b-r{border-radius: 20px;}
.p-r {
  padding-right: 151px;
}
.fs-7{font-size: 2rem;}
.ptb{padding: 8rem 0; }
.ptb-1{padding: 4rem 0; }
.main {
  background: #CA3D26;
}

.rectngle {
  margin-left: auto;
  margin-top: 2rem;
  width: 950px;
  height: 790px;
  flex-shrink: 0;
}

.wel {
  color: #FEC007;
  font-family: 'Dancing Script', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: normal;
}

.alpha {
  margin-left: 17rem;
}

.l-letter {
  margin-top: 15rem;
}

.tag1 {
  color: #FAFAFA;
  font-family: 'Raleway', sans-serif;
  font-size: 74px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sketch {
  position: absolute;
  bottom: -14%;
}

.rate {
  margin-top: 7rem;
}

.pos-1 {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  bottom: 13rem;
  left: 23rem;
}

.prew {
  font-family: 'Raleway', sans-serif;
  line-height: normal;
}

.next {
  font-family: 'Raleway', sans-serif;
  line-height: normal;
}

/* ------ main end ------ */

/* ---About Start ----- */
.main-content {
  margin: 7rem 0;
  height: 534px;
  flex-shrink: 0;
  border-radius: 42px;
  background: #FDF4E4;
  padding: 0 7rem;
}
.border-r{outline: 2px #CA3D26 solid;}
.wel-2 {
  color: #CA3D26;
  font-family: 'Dancing Script', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  margin-top: 5rem;
}

.wel-con {
  margin-top: 2rem;
}

.conman {
  position: absolute;
  bottom: 3rem;
  right: 1rem;
}

.leaf {
  position: absolute;
  top: 1rem;
  left: 3rem;
}

.nut {
  position: absolute;
  top: 8rem;
  right: 3rem;
}

/* -----Product start */
.card {
  background: #FFF;
  box-shadow: 0px 0px 13px 0px rgba(181, 177, 177, 0.25);
}
.text{color:  #616161;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;}
.strong-text{
  color: #CA3D26;
  font-family: 'Dancing Script', cursive;
  font-style: normal;
  font-weight: 700;
}
.read {
  position: absolute;
  bottom: 0; left: 0;
}
.bowl2{
  background-image: url(../../public/images/bowl-2.png); background-repeat: no-repeat; 
}
.leaf1 {
  position: absolute;
  top: 1rem;
  left: 3rem;
}
/* ----Client start---- */
.client-body{
  border-radius: 26px;
background: #FDF4E4;
}
.wel-3 {
  color: #CA3D26;
  font-family: 'Dancing Script', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
}
/* ----Market start---- */
